In [4]:
l1=[10,20,30] #list is order,unchangeable,allow duplicates
print(l1)
print(type(l1))
print(l1[2])

[10, 20, 30]
<class 'list'>
30

In [6]:
print(l1[::-1])
print(l1[1:2])

[30, 20, 10]
[20]

In [9]:
l1.insert(3,40)
print(l1)

[10, 20, 30, 40, 40, 40]

In [10]:
l1.append(50)
print(l1)

[10, 20, 30, 40, 40, 40, 50]

In [11]:
l2=['S','R']
l1.extend(l2)

In [12]:
print(l1)

[10, 20, 30, 40, 40, 40, 50, 'S', 'R']

In [20]:
print(l1.__len__())

5

In [15]:
del l1[3]#index
print(l1)

[10, 20, 30, 40, 50, 'S', 'R']

In [18]:
l1.remove(20)
print(l1)

[10, 30, 40, 50, 'S', 'R']

In [19]:
l1.pop(1)#index 
print(l1)

[10, 40, 50, 'S', 'R']

In [26]:
l2.reverse()
print(l2)

['S', 'R']

In [25]:
l2.sort()
print(l2)

['R', 'S']

In [30]:
l3=l2.copy()
print(l3)

['S', 'R']

In [2]:
#Tuple
#order,alloe duplicate,unchangeable
t=(1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [6]:
print(t[3])
print(t.__len__())
print(t[-2])
print(t[1:3])
print(t[::-1])#reverse
t=t+(6,7,6,6)
print(t)
t1=(1,)
print(type(t1))

4
13
6
(2, 3)
(6, 6, 7, 6, 6, 6, 7, 6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 7, 6, 6, 6, 7, 6, 6, 6, 7, 6, 6)
<class 'tuple'>

In [43]:
print(t.count(6))#count specified elem

7

In [44]:
t=t.__add__((1,2))
print(t)

(1, 2, 3, 4, 5, 6, 7, 6, 7, 6, 6, 6, 7, 6, 6, 1, 2)

In [45]:
del t
print(t)

NameError: name 't' is not defined

In [18]:
#dict no duplicates,unorder,changeable
d={1:"Shivam",2:"Rahul",3:"Vilas",4:"Ajesh"}
print(type(d))
print(d)
d1=d.get(1)#return value using specified key value
print(d1)
print(d[1])

<class 'dict'>
{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 4: 'Ajesh'}
Shivam
Shivam

In [20]:
print(d.keys())
print(d.values())
print(len(d))

dict_keys([1, 2, 3, 4])
dict_values(['Shivam', 'Rahul', 'Vilas', 'Ajesh'])
4

In [63]:
d.update({5:"Rishika"})
print(d)
print(d.__len__())

{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 6: 'Ajesh', 4: 'Manisha', 5: 'Rishika'}
6

In [11]:
d[4]="Manisha"
print(d)
d[6]="Ajesh"
print(d)

{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 4: 'Manisha'}
{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 4: 'Manisha', 6: 'Ajesh'}

In [13]:
#remove
del d[6]

In [14]:
print(d)

{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 4: 'Manisha'}

In [71]:
d.pop(4)#key
d.popitem()#last item will pop
print(d)

{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 6: 'Ajesh'}

In [15]:
d.setdefault(1,'Shivam')
print(d)
d.clear()
print(d)

{1: 'Shivam', 2: 'Rahul', 3: 'Vilas', 4: 'Manisha'}
{}

In [17]:
#set -->unorder,no duplicates,
s={1,2,3,4,5}
print(type(s))
print(s)
#print(s[1])#dost not support indexing

<class 'set'>
{1, 2, 3, 4, 5}

In [82]:
s.add(6)
print(s)
s.update([7,8])#multiple elme
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
s.discard(7)
print(s)
s.remove(8)
print(s)
s.pop()#pop initial value
print(s)
#clear

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [84]:
print(s)

{2, 3, 4, 5, 6}

In [85]:
s1={1,2,6,7}
print(s1)

{1, 2, 6, 7}

In [91]:
#union return all
print(s.union(s1)) #or |
#intersection Common
print(s&s1)#intersectiuon
#difference 
print(s-s1)#difference return difference from A only i.e. s
#symmentric_difference Reurn all uncoomen
print(s.symmetric_difference(s1))#^

{1, 2, 3, 4, 5, 6, 7}
{2, 6}
{3, 4, 5}
{1, 3, 4, 5, 7}